{{!-- DONE sans profile links --}}

<div class="post">
    <img src={{profilePic}} class="link pfp" id="profilepic" 
        usernameindb={{{username}}}
        {{!-- nameindb={{{name}}} --}}
    />
    <!-- profile pic (links to profile page) [link]-->
    <div class="name">{{{name}}}</div>
    <div class="handle" id="username"> @{{{username}}}</div>
    <div class="Date Posted" id="date"> &nbsp; &nbsp; | &nbsp;&nbsp;   {{{date}}}</div>
    <div class="postContents">
       {{{content}}}
    </div>
    {{#if this.img}}
     <div class="image" id="imageUpload"  profilepicindb={{{profilePic}}}>
        <img id="img" src={{this.img}}>
    </div>
    {{/if}}
    <div class="schoolNamePost">{{{school}}}</div>
</div>